        #subtitle
        {
            text-align:right;
            font-size:9px;
            font-size:2px;
        }
        #all_boss_div
        {
            float:left;
            width:350px;
            margin-left:50px;
        }
        #all_boss
        {
            width:380px;
            border-collapse:collapse;
        }
        #all_boss th
        {
            text-align:left;
            border:1px solid #98bf21;
            padding:3px 7px 2px 7px;
        }
        #all_boss tr td
        {
            border:1px solid #98bf21;
            padding:3px 7px 2px 7px;
        }
	#tiamat_div
	{
	    position:absolute;
	    margin-left:480px;
	    width:250px;
	}
	#colossus_div
	{
	    position:absolute;
	    margin-left:700px;
	    width:250px;
	}
	#leviathan_div
	{
	    position:absolute;
	    margin-left:920px;
	    width:250px;
	}
	#yggdrasil_div
	{
	    position:absolute;
 	    margin-left:480px;
	    margin-top:360px;
	    width:250px;
	}
	#celeste_div
	{
	    position:absolute;
	    margin-left:700px;
	    margin-top:360px;
	    width:250px;
	}
        #luminiera_div
        {
	    position:absolute;
            margin-left:920px;
	    margin-top:360px;
	    width:250px;
	}
        #tiamat,#colossus,#leviathan,#yggdrasil,#celeste,#luminiera
        {
            width:180px;
            border-collapse:collapse;
        }
        #tiamat th
        {
            text-align:left;
            border:1px solid rgb(122,184,114);
            padding:3px 7px 2px 7px;
            background-color:rgb(206,229,203);
        }
        #tiamat tr td
        {
            border:1px solid rgb(122,184,114);
            padding:3px 7px 2px 7px;
            background-color:rgb(206,229,203);
        }
        #colossus th
        {
            text-align:left;
            border:1px solid rgb(222,94,86);
            padding:3px 7px 2px 7px;
            background-color:rgb(247,207,211);
        }
        #colossus tr td
        {
            border:1px solid rgb(222,94,86);
            padding:3px 7px 2px 7px;
            background-color:rgb(247,207,211);
        }
        #leviathan th
        {
            text-align:left;
            border:1px solid rgb(93,164,239);
            padding:3px 7px 2px 7px;
            background-color:rgb(194,221,248);
        }
        #leviathan tr td
        {
            border:1px solid rgb(93,164,239);
            padding:3px 7px 2px 7px;
            background-color:rgb(194,221,248);
        }
        #yggdrasil th
        {
            text-align:left;
            border:1px solid rgb(136,111,100);
            padding:3px 7px 2px 7px;
            background-color:rgb(213,205,201);
        }
        #yggdrasil tr td
        {
            border:1px solid rgb(136,111,100);
            padding:3px 7px 2px 7px;
            background-color:rgb(213,205,201);
        }
        #celeste th
        {
            text-align:left;
            border:1px solid rgb(120,90,188);
            padding:3px 7px 2px 7px;
            background-color:rgb(207,197,230);
        }
        #celeste tr td
        {
            border:1px solid rgb(120,90,188);
            padding:3px 7px 2px 7px;
            background-color:rgb(207,197,230);
        }
        #luminiera th
        {
            text-align:left;
            border:1px solid rgb(242,163,58);
            padding:3px 7px 2px 7px;
            background-color:rgb(252,236,186);
        }
        #luminiera tr td
        {
            border:1px solid rgb(242,163,58);
            padding:3px 7px 2px 7px;
            background-color:rgb(252,236,186);
        }
	#tracker
	{
	    width:750px;
	    margin-top:20px;
	    margin-bottom:20px;
	}
