<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GranBlue</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'index.css' %}" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'index_new.js' %}"></script>

</head>


<body bgcolor="#F5F5DC">
    <div><img src="{% static 'Vira_Summer.png' %}" width="100px" height="100px" /></div>
    <div style="margin-top:-100px">
        <center><h3>Welcome to RaidCode for GranBlue Fantasy !!!</h3></center>
    </div>
    <div id="subtitle">
        <font>( This site gets backup code from Twitter. )<br>
        ( Double click backup code to copy it to your clipboard! )</font>
    </div><hr>

    <div id="all_boss_div">
        <table>
            <tr><td rowspan="2"><img src="{% static 'Gabriel.jpg' %}" width="70px" height="50px" /></td>
            <td><font size="4px">All Boss</font></td></tr>
            <tr><td><font size="1px">(Refresh in every 10s)</font></td></tr>
        </table>
    <table id="all_boss">
        <tr>
            <th>Boss</th>
            <th>Lvl</th>
            <th>Code</th>
        </tr>
        {% for i in all_boss %}
            <tr>
                <td>{{ i }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>

    <div id="tiamat_div">
        <table>
            <tr><td rowspan="2"><img src="{% static 'Tiamat_Extreme.jpg' %}" width="70px" height="50px" /></td>
            <td><font size="4px">Tiamat</font></td></tr>
            <tr><td><font size="1px">(Refresh in every 40s)</font></td></tr>
        </table>
    <table id="tiamat">
        <tr>
            <th>Lvl</th>
            <th>Code</th>
        </tr>
        {% for i in tiamat %}
            <tr>
                <td>{{ i }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>

    <div id="colossus_div">
        <table>
            <tr><td rowspan="2"><img src="{% static 'Colossus_Extreme.jpg' %}" width="70px" height="50px" /></td>
            <td><font size="4px">Colossus</font></td></tr>
            <tr><td><font size="1px">(Refresh in every 40s)</font></td></tr>
        </table>
    <table id="colossus">
        <tr>
            <th>Lvl</th>
            <th>Code</th>
        </tr>
        {% for i in colossus %}
            <tr>
                <td>{{ i }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>

    <div id="leviathan_div">
       <table>
            <tr><td rowspan="2"><img src="{% static 'Leviathan_Extreme.jpg' %}" width="70px" height="50px" /></td>
            <td><font size="4px">Leviathan</font></td></tr>
            <tr><td><font size="1px">(Refresh in every 40s)</font></td></tr>
        </table>
    <table id="leviathan">
        <tr>
            <th>Lvl</th>
            <th>Code</th>
        </tr>
        {% for i in leviathan %}
            <tr>
                <td>{{ i }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>

    <div id="yggdrasil_div">
        <table>
            <tr><td rowspan="2"><img src="{% static 'Yggdrasil_Extreme.jpg' %}" width="70px" height="50px" /></td>
            <td><font size="4px">Yggdrasil</font></td></tr>
            <tr><td><font size="1px">(Refresh in every 40s)</font></td></tr>
        </table>
    <table id="yggdrasil">
        <tr>
            <th>Lvl</th>
            <th>Code</th>
        </tr>
        {% for i in yggdrasil %}
            <tr>
                <td>{{ i }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>

    <div id="celeste_div">
        <table>
            <tr><td rowspan="2"><img src="{% static 'Celeste_Extreme.jpg' %}" width="70px" height="50px" /></td>
            <td><font size="4px">Celeste</font></td></tr>
            <tr><td><font size="1px">(Refresh in every 20s)</font></td></tr>
        </table>
    <table id="celeste">
        <tr>
            <th>Lvl</th>
            <th>Code</th>
        </tr>
        {% for i in celeste %}
            <tr>
                <td>{{ i }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>

    <div id="luminiera_div">
        <table>
            <tr><td rowspan="2"><img src="{% static 'Luminiera_Extreme.jpg' %}" width="70px" height="50px" /></td>
            <td><font size="4px">Luminiera</font></td></tr>
            <tr><td><font size="1px">(Refresh in every 20s)</font></td></tr>
        </table>
    <table id="luminiera">
        <tr>
            <th>Lvl</th>
            <th>Code</th>
        </tr>
        {% for i in luminiera %}
            <tr>
                <td>{{ i }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>


</body>
</html>
